*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Maple Mono NF Cn Light";
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    height: 100vh;
}

.box{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 500px;
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff28;
    box-shadow: inset 3px 3px 5px #86868642;
}

.box span{
    margin-top: 20px;
    text-align: center;
}

.box0{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}

.box4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 span{
    display: flex;
    margin-top: 0px;
    justify-content: center;
}

.box-group, .box-group2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    place-items: center; /* grid内容居中 */
    position: relative;
}

.box-group2{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box-group span{
    margin-top: 0;
}

.btn-group{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.btn-group button{
    width: 70px;
    height: 40px;
}

.control{
    width: 90px;
    height: 40px;
    margin: 0 10px;
    border-radius: 40px;
    background-color: #3a3a3ac5;
    border: 1px solid #646464;
}

.tl-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 鼠标跟踪样式 */
.mouse{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff33;
    border: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100000;
}

/* 四角边框 */
.border{
    padding: 20px;
    position: relative;
}

.border::before,
.border::after,
.border .bl,
.border .br {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;   
    border: 2px dashed;
}

.border::before{
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.border::after{
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none; 
}

.border .bl{
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.border .br {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

